@use "../abstracts" as *;
@use "sass:map";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: map.get($theme-colors, "ecru-white");
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  & > div {
    flex: 1;
  }
}
