@import "https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap";

$primary-font: "jost", sans-serif;

body {
  font-family: $primary-font;
  font-weight: 400;
}

h1 {
  font-weight: 900;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

p,
a,
li {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.3px;
}

h1 {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.3px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.3px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.3px;
}
