#registration-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;

  & > div {
    display: flex;
    flex-direction: column;

    label {
      transform: translateY(4px);
    }
  }
}
