@use "../abstracts" as *;
@use "sass:map";

.footer {
  place-self: flex-end;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  &__decoration {
    z-index: -9;
    svg {
      transform: translateY(4px);
      width: 100%;
      height: min-content;
      fill: map.get($theme-colors, "fuzzy-brown");
    }
  }
  &__content {
    width: 100%;
    padding: 2rem 0;
    background: map.get($theme-colors, "fuzzy-brown");

    &--text {
      color: map.get($theme-colors, "ecru-white");
    }
  }
}
