@use "../abstracts" as *;
@use "sass:map";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  .logo {
    svg {
      circle {
        fill: map.get($theme-colors, "fuzzy-brown");
      }
      .leaf {
        fill: map.get($theme-colors, "patina");
        stroke: map.get($theme-colors, "patina");
      }
    }
  }
  &__nav {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: end;
    gap: 1rem;

    a {
      font-weight: 500;
      color: map.get($theme-colors, "fuzzy-brown");
      transition: all 0.2s;

      &:hover {
        color: map.get($theme-colors, "sandy-brown");
      }

      &.active,
      &[aria-current="page"] {
        color: map.get($theme-colors, "sandy-brown");
        font-weight: 600;

        &::after {
          width: 100%;
        }
      }
    }
  }
}
