@use "../abstracts" as *;
@use "sass:map";

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  .logo {
    svg {
      circle {
        fill: map.get($theme-colors, "fuzzy-brown");
      }
      .leaf {
        fill: map.get($theme-colors, "patina");
        stroke: map.get($theme-colors, "patina");
      }
    }
  }
}
