@use "../abstracts/" as *;
@use "sass:map";

.book-container {
  margin: 0.75rem 0;
  .book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    background-color: map.get($theme-colors, "sandy-brown");
    border-radius: 10px;
    color: initial;
    text-decoration: none;

    &__img {
      background-color: map.get($theme-colors, "ecru-white");

      img {
        width: 100%;
        height: 200px;

        &.cover {
          object-fit: cover;
        }
        &.fill {
          object-fit: fill;
        }
      }
    }

    &__text {
      flex: 1;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
    }
  }
}
