@use "../abstracts/" as *;
@use "sass:map";

base-btn {
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  min-width: 20px;
  transition: all 0.2s;
  line-height: 28px;
  font-size: 20px;
  font-weight: 500;
}

.theme-btn {
  @extend base-btn;
  background: map.get($theme-colors, chelsea-cucumber);
  color: map.get($theme-colors, night-rider);
  text-decoration: none;

  &:hover {
    border: 3px solid map.get($theme-colors, patina);
  }
}
